name: "Validate PR"

on:
  pull_request:

jobs:
  valdiate_pr_title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix
            feat
            docs
            refactor
            test
            ci
            chore
            revert
          requireScope: false
  validate_spelling:
    name: Validate Spelling
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Check Spelling
        uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,dart}"
          config: .github/cspell.json
